@charset "UTF-8";

@-webkit-keyframes splide-loading {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes splide-loading {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.splide__container {
    position: relative;
    box-sizing: border-box;
}

.splide__list {
    margin: 0 !important;
    padding: 0 !important;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    will-change: transform;
}

.splide.is-active .splide__list {
    display: flex;
}

.splide__pagination {
    display: inline-flex;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.splide__pagination li {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    margin: 0;
}

.splide {
    visibility: hidden;
}

.splide, .splide__slide {
    position: relative;
    outline: none;
}

.splide__slide {
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    flex-shrink: 0;
}

.splide__slide img {
    vertical-align: bottom;
}

.splide__slider {
    position: relative;
}

.splide__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    border-left-color: transparent;
    -webkit-animation: splide-loading 1s linear infinite;
    animation: splide-loading 1s linear infinite;
}

.splide__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.splide--draggable > .splide__track > .splide__list > .splide__slide {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.splide--fade > .splide__track > .splide__list {
    display: block;
}

.splide--fade > .splide__track > .splide__list > .splide__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}

.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.splide--rtl {
    direction: rtl;
}

.splide--ttb > .splide__track > .splide__list {
    display: block;
}

.splide--ttb > .splide__pagination {
    width: auto;
}

.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: .7;
    background: #ccc;
}

.splide__arrow svg {
    width: 1.2em;
    height: 1.2em;
}

.splide__arrow:hover {
    cursor: pointer;
    opacity: .9;
}

.splide__arrow:focus {
    outline: none;
}

.splide__arrow--prev {
    left: 1em;
}

.splide__arrow--prev svg {
    transform: scaleX(-1);
}

.splide__arrow--next {
    right: 1em;
}

.splide__pagination {
    position: absolute;
    z-index: 1;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.splide__pagination__page {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin: 3px;
    padding: 0;
    transition: transform .2s linear;
    border: none;
    opacity: .7;
}

.splide__pagination__page.is-active {
    transform: scale(1.4);
    background: #fff;
}

.splide__pagination__page:hover {
    cursor: pointer;
    opacity: .9;
}

.splide__pagination__page:focus {
    outline: none;
}

.splide__progress__bar {
    width: 0;
    height: 3px;
    background: #ccc;
}

.splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid transparent;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border-color: #000;
}

.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
    outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
    right: 1em;
    left: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--prev svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: scaleX(1);
}

.splide--rtl > .splide__arrows .splide__arrow--next, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--next svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: scaleX(-1);
}

.splide--ttb > .splide__arrows .splide__arrow, .splide--ttb > .splide__track > .splide__arrows .splide__arrow {
    left: 50%;
    transform: translate(-50%);
}

.splide--ttb > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
    top: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--prev svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: rotate(-90deg);
}

.splide--ttb > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
    top: auto;
    bottom: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--next svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: rotate(90deg);
}

.splide--ttb > .splide__pagination {
    display: flex;
    flex-direction: column;
    bottom: 50%;
    left: auto;
    right: .5em;
    transform: translateY(50%);
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.noscroll {
    overflow: hidden;
}

.bg--blue {
    background-color: #154CA1;
}

.bg--lblue {
    background-color: #30BCC9;
}

.bg--yellow {
    background-color: #FFC41E;
}

.bg--red {
    background-color: #F6404F;
}

.bg--grey {
    background-color: #F9F9F9;
}

.be--blue:before {
    background-color: #154CA1;
}

.be--lblue:before {
    background-color: #30BCC9;
}

.be--yellow:before {
    background-color: #FFC41E;
}

.be--red:before {
    background-color: #F6404F;
}

.be--green:before {
    background-color: #2DA771;
}

.be--grey:before {
    background-color: #F9F9F9;
}

@font-face {
    font-family: 'circe-r';
  src: url(../fonts/Circe-Regular.ttf);
}

@font-face {
    font-family: 'circe-b';
  src: url(../fonts/Circe-Bold.ttf);
}

@font-face {
    font-family: 'circe-l';
  src: url(../fonts/Circe-Light.ttf);
}

@font-face {
    font-family: 'circe-e';
  src: url(../fonts/Circe-ExtraBold.ttf);
}

body {
    font-family: 'circe-r';
    font-size: 16px;
    background: #E5E5E5;
}

.container {
    max-width: 1558px;
    margin: auto;
}

.aic {
    align-items: center;
}

.jsb {
    justify-content: space-between;
}

.jsa {
    justify-content: space-around;
}

.pos {
    position: relative;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: unset;
}

button:focus {
    outline: none;
}

.courses {
    margin-top: 44px;
}

.col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0px 15px;
}

.col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0px 15px;
}

.col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0px 15px;
}

.col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0px 15px;
}

.col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0px 15px;
}

.col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0px 15px;
}

.col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0px 15px;
}

.col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0px 15px;
}

.col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0px 15px;
}

.col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0px 15px;
}

.col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0px 15px;
}

.col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0px 15px;
}

@media (max-width: 1024px) {
    .col-md-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
        padding: 0px 15px;
    }

    .col-md-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
        padding: 0px 15px;
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
        padding: 0px 15px;
    }

    .col-md-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
        padding: 0px 15px;
    }

    .col-md-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        padding: 0px 15px;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0px 15px;
    }

    .col-md-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
        padding: 0px 15px;
    }

    .col-md-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
        padding: 0px 15px;
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%;
        padding: 0px 15px;
    }

    .col-md-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
        padding: 0px 15px;
    }

    .col-md-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
        padding: 0px 15px;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0px 15px;
    }
}

@media (max-width: 767px) {
    .col-xs-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
        padding: 0px 15px;
    }

    .col-xs-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
        padding: 0px 15px;
    }

    .col-xs-3 {
        flex-basis: 25%;
        max-width: 25%;
        padding: 0px 15px;
    }

    .col-xs-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
        padding: 0px 15px;
    }

    .col-xs-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        padding: 0px 15px;
    }

    .col-xs-6 {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0px 15px;
    }

    .col-xs-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
        padding: 0px 15px;
    }

    .col-xs-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
        padding: 0px 15px;
    }

    .col-xs-9 {
        flex-basis: 75%;
        max-width: 75%;
        padding: 0px 15px;
    }

    .col-xs-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
        padding: 0px 15px;
    }

    .col-xs-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
        padding: 0px 15px;
    }

    .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0px 15px;
    }
}

.mb-3 {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.df {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
}

.header__btn {
    display: none;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__sublogo {
    color: #fff;
    max-width: 300px;
    margin-left: 19px;
    display: inline-block;
}

.header .link {
    color: #fff;
    margin: 0px 10px;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}

.header__dropdown {
    position: relative;
}

.header__dropdown > .link:hover + ul {
    display: block;
}

.header__dropdown > .link:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/bottom.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
}

.header__dropdown--menu {
    position: absolute;
    display: none;
    left: 0;
    padding: 10px;
    background-color: #fff;
}

.header__dropdown--menu:hover {
    display: block;
}

.header__dropdown--menu .header__dropdown--menu {
    position: absolute;
    display: none;
}

.header__dropdown--menu .link {
    color: #000;
    display: inline-block;
    margin: 5px 0px;
    padding: 0;
    font-size: 14px;
}

.header .gerb {
    margin-left: auto;
    margin-right: 10px;
}

.header__search {
    margin-left: 20px;
}

.header__lang {
    color: #fff;
    margin-left: 70px;
}

.header__lang svg {
    margin-right: 10px;
}

.headhome {
    padding-top: 169px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.headhome:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.headhome__video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: -1;
}

.headhome__video video {
    width: 100%;
}

.headhome__more {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}

.headhome__more svg {
    margin-left: 30px;
}

.headhome__title {
    font-size: 36px;
    font-family: 'circe-b';
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}

.headhome__news {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    width: 60%;
    max-width: 60%;
    align-items: space-between;
    height: 100%;
}

.headhome__cat {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 35%;
    width: 35%;
    max-width: 35%;
    margin-left: -15px;
    margin-right: -15px;
}

.headhome__col {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    padding: 15px;
}

.headhome__box {
    border-radius: 10px;
    padding: 25px 15px 25px 25px;
    color: #fff;
    transition: 0.3s;
}

.headhome__box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.headhome__stitle {
    font-size: 21px;
    font-family: 'circe-e';
}

.headhome__smore {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

.headhome__smore svg {
    margin-left: 10px;
}

.viewhead {
    padding-bottom: 307px;
    padding-top: 153px;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.viewhead.full {
    display: flex;
    align-items: center;
    height: 100vh;
}

.viewhead__title {
    max-width: 1200px;
    margin: auto;
    font-size: 36px;
    text-transform: uppercase;
}

.viewpage {
    background-color: #fff;
}

.viewpage--title {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: -30px;
    margin-bottom: 40px;
}

.viewpage ul:not(.viewpage__list) {
    display: block;
    margin-bottom: 30px;
}

.viewpage ul:not(.viewpage__list) li {
    display: block;
    margin-bottom: 10px;
}

.viewpage ul:not(.viewpage__list) li:before {
    content: '·';
    margin-right: 10px;
}

.viewpage__list .link {
    font-size: 16px;
    color: #000;
    position: relative;
    padding-left: 20px;
}

.viewpage__list .link:hover {
    color: #154CA1;
}

.viewpage__list .link.active {
    color: #154CA1;
    text-decoration: underline;
}

.viewpage__list .link::before {
    content: '·';
    position: absolute;
    left: 0px;
    font-weight: bold;
}

.viewpage.minh .container {
    min-height: 400px;
}

.viewpage .container {
    max-width: 1200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    padding: 60px 80px;
    position: relative;
}

.viewpage__btitle {
    font-size: 18px;
    font-family: 'circe-b';
    margin-bottom: 15px;
}

.viewpage__title {
    font-size: 14px;
    color: #000;
    display: inline-block;
    margin-bottom: 15px;
}

.viewpage__info {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.viewpage__info svg {
    margin-right: 5px;
}

.viewpage__info span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.viewpage__box {
    margin-bottom: 30px;
}

.viewpage__news {
    position: absolute;
    top: 60px;
    width: 232px;
    right: -182px;
}

.viewpage__news img {
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.viewpage__date {
    position: absolute;
    left: 0;
    top: 62px;
    background-color: #2DA771;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 60px;
}

.viewpage__date span {
    display: block;
    font-size: 36px;
    font-family: 'circe-b';
    margin-bottom: -15px;
}

p {
    margin-bottom: 25px;
    line-height: 35px;
}

strong {
    font-family: 'circe-b';
}

.blinks__list {
    margin-bottom: 50px;
}

.blinks__title {
    font-size: 24px;
    font-family: 'circe-b';
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
}

.blinks__title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    bottom: -5px;
    left: 0;
}

.blinks__box {
    margin-bottom: 20px;
    display: flex;
    padding-right: 100px;
}

.blinks__info {
    display: flex;
    flex-direction: column;
    flex-basis: 120px;
    width: 120px;
    max-width: 120px;
}

.blinks__num {
    font-size: 18px;
    font-family: 'circe-b';
    color: #154CA1;
    margin-bottom: 3px;
}

.blinks__date {
    color: #6C6C6C;
    font-size: 14px;
}

.blinks__link {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'circe-b';
    font-size: 16px;
    color: #000;
    padding-left: 30px;
    border-left: 1px solid #C4C4C4;
    transition: 0.3s;
    flex-basis: calc(100% - 120px);
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
}

.blinks__link:hover {
    color: #154CA1;
    padding-left: 26px;
    border-left-width: 5px;
    border-left-color: #154CA1;
}

.wrapper {
    padding: 73px 0px;
    background-color: #fff;
}

.wrapper.bg--blue {
    background-color: #154CA1;
}

.wrapper.bg--lblue {
    background-color: #30BCC9;
}

.wrapper.bg--yellow {
    background-color: #FFC41E;
}

.wrapper.bg--red {
    background-color: #F6404F;
}

.wrapper.bg--grey {
    background-color: #F9F9F9;
}

.wrapper__title {
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #959595;
    width: 100%;
}

.btitle {
    color: #2E373B;
    font-size: 30px;
    font-family: 'circe-e';
    position: relative;
}

.btitle:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -11px;
    height: 4px;
    display: inline-block;
    z-index: 1;
}

.bmore {
    color: #2E373B;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.bmore:hover {
    text-decoration: none;
}

.bmore svg {
    margin-left: 15px;
}

.bnews__img {
    height: 197px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    margin-bottom: 27px;
}

.bnews__title {
    font-size: 24px;
    font-family: 'circe-b';
    color: #000;
    line-height: 130%;
    margin-bottom: 19px;
    display: inline-block;
}

.bnews__title:hover {
    color: #154CA1;
}

.bnews__desc {
    color: #666666;
    font-size: 16px;
    font-family: 'circe-l';
    margin-bottom: 10px;
    min-height: 90px;
}

.bnews__info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-right: 22px;
}

.bnews__info svg {
    margin-right: 5px;
}

.bnews__more {
    font-size: 16px;
    color: #000;
}

.bnews__more:hover {
    color: #154CA1;
}

.bnews__more:hover path {
    fill: #154CA1;
}

.bnews__more svg {
    margin-left: 15px;
}

.mnews {
    margin-bottom: 30px;
}

.mnews__img {
    width: 232px;
    float: left;
    margin-right: 30px;
    height: 197px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.mnews__desc {
    display: flex;
    flex-direction: column;
}

.mnews__title {
    color: #000;
    font-size: 18px;
    font-family: 'circe-b';
    min-height: 145px;
    margin-bottom: 10px;
    display: inline-block;
}

.mnews__title:hover {
    color: #154CA1;
}

.mnews__info {
    font-size: 12px;
    color: #666;
    margin-right: 25px;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.mnews__info svg {
    margin-right: 10px;
}

.mnews__more {
    color: #000;
    display: inline-block;
    align-items: center;
    margin-top: 10px;
}

.mnews__more:hover {
    color: #154CA1;
}

.mnews__more:hover path {
    fill: #154CA1;
}

.mnews__more svg {
    margin-left: 17px;
}

.lnews {
    margin-bottom: 30px;
}

.lnews__img {
    width: 232px;
    float: left;
    margin-right: 30px;
    height: 125px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.lnews__desc {
    display: flex;
    flex-direction: column;
}

.lnews__title {
    color: #000;
    font-size: 18px;
    font-family: 'circe-b';
    margin-bottom: 10px;
    line-height: 20px;
    display: inline-block;
}

.lnews__title:hover {
    color: #154CA1;
}

.lnews__info {
    font-size: 12px;
    color: #666;
    margin-right: 25px;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.lnews__info svg {
    margin-right: 10px;
}

.lnews__more {
    color: #000;
    display: inline-block;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
}

.lnews__more:hover {
    color: #154CA1;
}

.lnews__more:hover path {
    fill: #154CA1;
}

.lnews__more svg {
    margin-left: 17px;
}

.nnews__list {
    margin-top: 50px;
    counter-reset: section;
}

.nnews__box {
    padding-left: 100px;
    position: relative;
}

.nnews__box:before {
    counter-increment: section;
    content: "0" counter(section);
    position: absolute;
    left: 0;
    color: #E3E3E3;
    font-size: 64px;
    font-family: 'circe-b';
}

.nnews__box .df {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.nnews__info {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nnews__info svg {
    margin-right: 5px;
}

.nnews__title {
    font-size: 18px;
    color: #000;
    display: inline-block;
    font-family: 'circe-b';
    margin-bottom: 10px;
}

.nnews__title:hover {
    color: #154CA1;
}

.cat__head {
    padding-top: 122px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-family: 'circe-b';
    text-transform: uppercase;
    background-size: cover;
    background-position: center center;
}

.cat__title {
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
}

.cat__title.be--blue:before {
    background-color: #154CA1;
}

.cat__title.be--lblue:before {
    background-color: #30BCC9;
}

.cat__title.be--yellow:before {
    background-color: #FFC41E;
}

.cat__title.be--red:before {
    background-color: #F6404F;
}

.cat__title.be--green:before {
    background-color: #2DA771;
}

.cat__title.be--grey:before {
    background-color: #F9F9F9;
}

.cat__title:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FFC41E;
    display: inline-block;
}

.maglink {
    display: block;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: 'circe-b';
    margin-bottom: 30px;
}

.maglink:hover img {
    transform: scale(1.08);
}

.maglink img {
    transition: 0.3s;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.magazins .box {
    height: 501px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.manager__box {
    margin-bottom: 40px;
}

.manager__img {
    float: left;
    margin-right: 20px;
    width: 200px;
}

.manager__name {
    font-size: 18px;
    font-family: 'circe-b';
}

.manager__lvl {
    font-size: 14px;
    margin-bottom: 10px;
}

.manager__desc {
    color: #6C6C6C;
    font-family: 'circe-l';
    margin-bottom: 10px;
    line-height: 24px;
}

.manager__con {
    display: flex;
}

.manager__con .link {
    color: #000;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.manager__con .link.email {
    text-decoration: underline;
}

.manager__con .link.bio {
    color: #154CA1;
}

.manager__con .link svg {
    margin-right: 5px;
}

.links__list .link {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-family: 'circe-b';
}

.links__list .link:hover {
    color: #154CA1;
}

.links__list .link img {
    margin-right: 20px;
}

.wrapper__title.partners {
    margin-bottom: 10px;
}

.footer {
    background-color: #154CA1;
    padding-top: 56px;
    color: #fff;
}

.footer__title {
    margin-bottom: 20px;
    font-family: 'circe-e';
    font-size: 21px;
}

.footer__menu .link {
    display: inline-block;
    color: #E0E0E0;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__menu .link:hover {
    color: #FFC41E;
    text-decoration: underline;
}

.footer__stitle {
    font-size: 14px;
    color: #E0E0E0;
    margin-bottom: 5px;
}

.footer__input {
    display: flex;
    align-items: center;
    background-color: #fff;
    max-width: 250px;
}

.footer__input input {
    background: unset;
    border: 0;
    padding: 10px 20px;
    flex-basis: 210px;
    width: 210px;
    max-width: 210px;
}

.footer__input input:focus {
    outline: 0;
}

.footer__input button {
    background-color: #F6404F;
    flex-basis: 40px;
    width: 40px;
    max-width: 40px;
    display: flex;
    padding: 11px;
}

.footer__bold {
    font-size: 16px;
    font-family: 'circe-b';
    margin-bottom: 4px;
}

.footer__text {
    color: #E0E0E0;
    font-size: 14px;
    margin-bottom: 15px;
    display: inline-block;
}

.footer__social .link {
    display: inline-block;
    margin-right: 10px;
}

.copyright {
    text-align: center;
    padding: 14px 0px;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #fff;
    margin-top: 52px;
}

.copyright__text {
    max-width: 540px;
    margin: auto;
}

.copyright .author {
    color: #fff;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1350px;
    }

    .headhome__col {
        padding: 10px;
    }

    .headhome__cat {
        flex-basis: 40%;
        width: 40%;
        max-width: 40%;
    }

    .mnews__img {
        width: 207px;
        margin-right: 20px;
        height: 204px;
    }

    .bnews__img {
        margin-bottom: 14px;
    }

    .lnews__img {
        width: 200px;
        margin-right: 20px;
        height: 125px;
    }

    .nnews__title {
        height: 45px;
        overflow: hidden;
    }

    .magazins .box {
        height: 431px;
        background-position: center center;
    }

    .links__list .link {
        font-size: 14px;
    }

    .links__list .link img {
        margin-right: 15px;
        width: 45px;
    }
}

@media (max-width: 1367px) {
    .container {
        max-width: 1260px;
    }

    .headhome__title {
        font-size: 32px;
    }

    .headhome__news {
        flex-basis: 55%;
        width: 55%;
        max-width: 55%;
    }

    .headhome__cat {
        flex-basis: 45%;
        width: 45%;
        max-width: 45%;
    }

    .mnews__img {
        width: 191px;
        margin-right: 15px;
        height: 204px;
    }

    .mnews__title {
        font-size: 16px;
        min-height: 145px;
    }

    .magazins .box {
        height: 371px;
        background-position: center center;
    }
}

@media (max-width: 1024px) {
    .header__sublogo {
        max-width: 259px;
        margin-left: 15px;
    }

    .container {
        padding: 0px 15px;
    }

    .header .link {
        margin: 0px;
    }

    .header {
        padding-bottom: 10px;
    }

    .header__logo {
        order: 1;
    }

    .header__search {
        order: 2;
    }

    .header__lang {
        order: 3;
    }

    .header .symbol {
        order: 4;
        margin-left: 10px;
    }

    .header__menu {
        order: 4;
        margin-top: 10px;
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
    }

    .header__menu .link {
        padding: 10px 0px;
    }

    .header__dropdown > .link:after {
        left: unset;
        right: -22px;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    .headhome {
        padding-bottom: 30px;
    }

    .headhome .container {
        flex-direction: column;
    }

    .headhome__cat, .headhome__news {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }

    .headhome__cat {
        margin-left: -10px;
        margin-right: -10px;
    }

    .headhome__col {
        margin-top: 30px;
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
    }

    .headhome__box {
        padding: 15px;
    }

    .lnews {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .lnews__img {
        float: unset;
        width: 100%;
        margin-bottom: 15px;
    }

    .mnews__img {
        height: 150px;
    }

    .mnews__title {
        min-height: 95px;
    }

    .bnews__title {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 10px;
    }

    .bnews__desc {
        min-height: auto;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .wrapper {
        padding: 30px 0px;
    }

    .wrapper__title {
        margin-bottom: 30px;
    }

    .pnews .mnews {
        flex-direction: column;
        display: flex;
    }

    .pnews .mnews__img {
        float: unset;
        width: 100%;
        margin-bottom: 10px;
        height: 197px;
        margin-bottom: 14px;
    }

    .pnews .mnews__title {
        min-height: auto;
    }

    .nnews__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .nnews__box {
        flex-basis: 33%;
        width: 33%;
        max-width: 33%;
        padding: 10px;
        padding-left: 90px;
    }

    .magazins .box {
        height: 294px;
    }

    .footer__box {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .headhome__col {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        margin-top: 0;
    }

    .headhome__col br {
        display: none;
    }

    .headhome__video video {
        height: 100%;
        width: auto;
    }

    .mnews__info {
        margin-right: 5px;
        font-size: 10px;
    }

    .mnews__img {
        width: 143px;
    }

    .header__logo {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header__search {
        margin-left: unset;
        display: flex;
        align-items: center;
    }

    .header__lang {
        margin-left: 10px;
    }

    .header__btn {
        display: block;
        order: 6;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .header__btn.active span {
        transform: rotate(-45deg);
    }

    .header__btn.active span:after {
        opacity: 0;
    }

    .header__btn.active span:before {
        top: 0;
        transform: rotate(-90deg);
    }

    .header__btn span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        position: relative;
        transition: 0.3s;
    }

    .header__btn span:after, .header__btn span:before {
        transition: 0.3s;
        content: '';
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 100%;
        top: -7px;
        background-color: #fff;
        left: 0;
    }

    .header__btn span:after {
        top: 7px;
    }

    .header__menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        background-color: #154CA1;
        align-items: center;
        top: 100%;
        left: 0;
        margin: 0;
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .header__menu.active {
        height: auto;
    }

    .headhome__title {
        font-size: 20px;
    }

    .headhome {
        padding-top: 135px;
    }

    .headhome__cat {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .headhome__col {
        flex-basis: 70vw;
        width: 70vw;
        max-width: 70vw;
        white-space: unset;
    }

    .bnews {
        margin-bottom: 30px;
    }

    .lnews {
        margin-top: 0;
    }

    .nnews__list {
        margin: 0;
    }

    .nnews__box {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding: 10px 0px;
        padding-left: 80px;
    }

    .magazins .box {
        height: 215px;
    }

    .partners + .row {
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
    }

    .partners + .row img {
        width: 30%;
    }

    .bmore {
        display: none;
    }

    .headhome__cat {
        flex-direction: column;
        white-space: unset;
    }

    .headhome__col {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }

    .headhome__title {
        margin-top: 20px;
    }

    .viewpage .container {
        padding: 30px;
    }

    .viewpage__news {
        display: none;
    }

    .viewpage--title {
        margin-top: 0;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .blinks__box {
        flex-direction: column;
        padding: 0;
    }

    .blinks__info {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }

    .blinks__link {
        display: block;
        padding: 0;
        border: 0;
        margin-top: 10px;
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }

    .manager__img {
        float: unset;
        display: block;
        margin: auto;
    }

    .manager__name {
        text-align: center;
    }

    .manager__lvl {
        text-align: center;
    }

    .viewhead__title {
        font-size: 24px;
        padding: 0px 10px;
    }

    .viewpage__date {
        display: none;
    }
}

@media (max-width: 375px) {
    .header__logo {
        flex-direction: column;
    }

    .header__logo img {
        margin-bottom: 10px;
    }

    .headhome {
        padding-top: 171px;
    }
}
